.card-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  perspective: 1000px; /* Plus petit = effet plus fort */
  perspective-origin: center;
}
.card {
  font-size: 8rem;
  line-height: 1;
  background-color: #f0f0f0; color: #111;
  border-radius: 2px;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  transform: scale(2);
}
.card.red {
  color: red;
}
